# Entorno virtual y caché de Python
/venv/
__pycache__/

# Archivos de configuración y secretos
.env

# Datos y archivos generados por el usuario
*.apkg

# Directorio de medios generados
sounds/

/__pycache__
/.env
/sounds
*.mp3
*.wav